[Desktop Entry]
Name=Gmail Notifier data engine
Name[fr]=Moteur de données de Gmail Notifier
Comment=Data engine for fetching new mails on Gmail
Comment[fr]=Moteur de données pour interroger les nouveaux messages Gmail
Type=Service
Icon=unknown
 
X-KDE-ServiceTypes=Plasma/DataEngine
X-KDE-Library=plasma_engine_gmailnotifier
X-Plasma-EngineName=gmailnotifier
X-KDE-PluginInfo-Author=Gilles CHAUVIN
X-KDE-PluginInfo-Email=gcnweb+gmailnotifier@gmail.com
X-KDE-PluginInfo-Name=gmailnotifier
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://gmailnotifier.googlecode.com/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=
