[Desktop Entry]
Name=Gmail Notifier data engine
Name[fr]=Moteur de données de Gmail Notifier
X-KDE-ServiceTypes=Plasma/DataEngine
Type=Service
Icon=unknown
X-KDE-Library=plasma_engine_gmailnotifier
X-Plasma-EngineName=gmailnotifier
